.selected-and-or {
  color: #536dfe;
}
.form-select {
  cursor: pointer;
}

.styled-link {
  float: right;
  color: #2196fe;
  transition: all 0.25s ease-in;
}
.styled-link:hover,
.styled-link:focus,
.styled-link:active {
  color: #536dfe;
}
.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  margin-top: 4vh;
}
.blue-hover:hover {
  transform: translateY(-1rem);
  /* border: none; */
  border-bottom: 5px solid #2196fe;
  border-top: 5px solid #2196fe;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.upper-border {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.react-pdf__Page__canvas {
  width: 100% !important;
}
.searchbox-border {
  border: 3px solid rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  text-decoration: none;
  color: inherit;
}
